{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}"/>

	<form method="post">

		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-12">

					

						<div class="password">
							<div class="bobo ">
								<form method="post">
									<br><br>
									<h1 class="h3 mb-3 font-weight-normal">Modification du mot de passe</h1>
									<label for="inputPassword" class="sr-only">Mot de passe</label>
									<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
									<input type="hidden" name="token" value="{{ token }}">
									<br>
									<div class="text-center">
										<button class="btn btn-sm btn-dark" type="submit">
											Soumettre
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
