{% extends "base.html.twig" %}

{% block title %}
	Cinéma Universe : Action
{% endblock %}

{% block body %}
	<html lang="fr">

		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
			<link rel="shortcut icon" type="image/png" href="{{asset('assets/images/cinemaUniverse1.png')}}">
			<title>Action</title>

			<!-- Bootstrap core CSS -->
			<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">


		</head>
		<body>
			<main
				role="main">

				<!-- Main jumbotron for a primary marketing message or call to action -->
				<div class="jumbotron">
					<div class="container text-center">
						<h3 class="display-3">Action</h3>
						<p>Les films d'action est un genre cinématographique qui met en scène une succession de scènes spectaculaires souvent stéréotypées (courses-poursuites, fusillades, explosions…) construites autour d'un conflit résolu de manière violente, généralement par la mort des ennemis du héros.</p>

					</div>
				</div>
			</main>
			<div class="container">
				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-primary">Film français</strong>
								<h3 class="mb-0">L'Assaut</h3>
								<p class="card-text mb-auto">En décembre 1994, quatre terroristes du Groupe islamique armé (GIA) prennent en otage le vol 8969 d'Air France à l’aéroport d'Alger - Houari-Boumédiène, avec 227 personnes présentes à bord. Les terroristes revendiquent la libération de leurs camarades d’armes et exigent le décollage immédiat de l’avion. Ce n’est cependant qu’après de longues négociations diplomatiques tendues entre les gouvernements français et algérien et l’exécution de trois passagers que l’avion quitte Alger et atterrit à l’aéroport Marseille-Provence.</p>

							</div>
							<div class="col-auto d-none d-lg-block">
								<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
									<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-success">Film américain</strong>
								<h3 class="mb-0">John Wick Parabellum</h3>
								<p class="mb-auto">John Wick a transgressé une règle fondamentale : il a tué à l'intérieur même de l'Hôtel Continental. Excommunié, tous les services liés au Continental lui sont fermés et sa tête mise à prix. John se retrouve sans soutien, traqué par tous les plus dangereux tueurs du monde.</p>

							</div>
							<div class="col-auto d-none d-lg-block">
								<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
									<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>


			<main role="main" class="container">
				<div class="row">
					<div class="col-md-8 blog-main bg-light">
						<h3 class="pb-4 mb-4 font-italic border-bottom text-center">
							Exemple de film
						</h3>

						<div class="blog-post">
							<h2 class="blog-post-title">Mad Max: Fury Road</h2>
							<p class="blog-post-meta">
								<strong>Genre</strong>
								: 	Science-fiction post-apocalyptique</p>
							<p class="blog-post-meta">
								<strong>Réalisateur</strong>
								: 	George Miller</p>
							<p class="blog-post-meta">
								<strong>Distribution</strong>
								: Tom Hardy, Charlize Theron, Nicholas Hoult, Hugh Keays-Byrne</p>
							<p class="blog-post-meta">
								<strong>Année de sortie</strong>
								: 2015</p>
							<p class="blog-post-meta">
								<strong>Synopsis</strong>
								Ancien policier de la route, Max Rockatansky (Tom Hardy) erre désormais seul au volant de son bolide (une Ford Falcon XB 351) dans un monde dévasté où les clans de cannibales, les sectes et les gangs de motards s'affrontent dans des déserts sans fin pour l'essence et l'eau. L'un de ces clans est aux ordres de « Immortan Joe » (Hugh Keays-Byrne), un ancien militaire devenu leader tyrannique. L'une de ses plus fidèles partisanes, l'« imperator » Furiosa (Charlize Theron), le trahit et s'enfuit avec un bien d'une importance capitale pour le chef de guerre : ses « épouses », un groupe de jeunes femmes lui servant d'esclaves et de « pondeuses ».
								Immortan Joe se lance à la poursuite de Furiosa avec toute son armée motorisée à travers le désert. Max est embarqué malgré lui dans cette traque, ayant été capturé et enchaîné à l'avant du véhicule d'un homme de main d'Immortan, Nux (Nicholas Hoult). Pour survivre à cet enfer Max s'associe à Furiosa.</p>

							<div class="container text-center">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/mtolAJbj44s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>


					</div>

					<aside class="col-md-4 blog-sidebar">
						<div class="p-4 mb-3 bg-light rounded">
							<h4 class="font-italic text-center">Le saviez-vous ?</h4>
							<p class="mb-0">Le Territoire des loups (2012), Pour préparer son rôle de John Diaz, l'acteur Frank Grillo a passé une nuit à … Rikers Island, une île qui abrite la plus grande prison des États-Unis.

							</p>
						</div>


						<div class="p-4 mb-3 bg-light">
							<h4 class="font-italic text-center">Réseaux</h4>
							<ol class="list-unstyled text-center">
								<li>
									<a href="#">Twitter</a>
								</li>
								<li>
									<a href="#">Facebook</a>
								</li>
							</ol>
						</div>
					</aside>

				</div>

			</main>
			<br>
			<div class="container border-bottom font-italic text-center">
				<h4>Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4>
			</div>


		</body>
	</html>

{% endblock %}
