{% extends "base.html.twig" %}
{% block title %}Cinéma Universe : Aventure
{% endblock %}
{% block body %}
	<html lang="fr">

		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
			<meta name="generator" content="Jekyll v4.0.1">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
			<title>Aventure</title>

			<link
			rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/jumbotron/">

			<!-- Bootstrap core CSS -->
			<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

		</head>

		<main
			role="main">

			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<div class="container text-center">
					<h3 class="display-3">Aventure</h3>
					<p>
						Les films d'aventures est un genre cinématographique caractérisé par la présence d'un héros fictif ou non, tirant son statut du mythe qu'il inspire, l'action particulière qui s'y déroule, l'emploi de décors particuliers également, parfois le décalage temporel par rapport au contemporain ainsi que, parfois, les invraisemblances voulues caractérisant ainsi son excentricité, le tout véhiculant une idée générale de dépaysement1. Le film d'aventures a des frontières très larges puisqu'il englobe d'autres genres cinématographiques comme le western et la science-fiction</p>

				</div>
			</div>
		</main>
		<div class="container">
			<div class="row mb-2">
				<div class="col-md-6">
					<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 text-primary">Film français</strong>
							<h3 class="mb-0">Brick Mansions</h3>
							<p class="card-text mb-auto">Détroit, 2018. Damien, policier expert en arts martiaux, est chargé d'infiltrer le dangereux ghetto de `Brick Mansions'. Sa mission : neutraliser une arme de destruction massive détenue par le gang de Tremaine, qui règne sur les lieux. Pour ce faire, Damien devra faire équipe avec Lino, un habitant du quartier qui connaît la banlieue comme sa poche, mais qui a surtout une affaire très personnelle à régler avec Tremaine.</p>

						</div>
						<div class="col-auto d-none d-lg-block">
							<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
								<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
							</svg>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 text-success">Film américain</strong>
							<h3 class="mb-0">Le Voyage du Dr Dolittle (2020)</h3>
							<p class="mb-auto">Robert Downey Jr. donne vie à un des personnages emblématiques de la littérature dans une adaptation du conte de l’homme qui pouvait parler aux animaux : Dolittle. Après la perte de sa femme sept ans plus tôt, l’excentrique Dr. John Dolittle (Downey), célèbre docteur et vétérinaire de l’Angleterre de la Reine Victoria s’isole derrière les murs de son manoir, avec pour seule compagnie sa ménagerie d’animaux exotiques. Mais quand la jeune Reine (Wild Rose, Jessie Buckley) tombe gravement malade, Dr. Dolittle, d’abord réticent, se voit forcé de lever les voiles vers une île mythique dans une épique aventure à la recherche d’un remède à la maladie.</p>

						</div>
						<div class="col-auto d-none d-lg-block">
							<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
								<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>


		<main role="main" class="container">
			<div class="row">
				<div class="col-md-8 blog-main bg-light">
					<h3 class="pb-4 mb-4 font-italic border-bottom text-center">
						Exemple de film
					</h3>

					<div class="blog-post">
						<h2 class="blog-post-title">Le Voyage du Docteur Dolittle</h2>
						<p class="blog-post-meta">
							<strong>Genre</strong>
							: 	Comédie, fantastique</p>
						<p class="blog-post-meta">
							<strong>Réalisateur</strong>
							: Stephen Gaghan</p>
						<p class="blog-post-meta">
							<strong>Distribution</strong>
							:  principaux	
							Robert Downey Jr., Emma Thompson, Rami Malek, Harry Collett, Antonio Banderas</p>
						<p class="blog-post-meta">
							<strong>Année de sortie</strong>
							: 2020</p>
						<p class="blog-post-meta">
							<strong>Synopsis</strong>
							: Après la perte de sa femme sept ans plus tôt, l’excentrique Dr. John Dolittle, célèbre docteur et vétérinaire de l’Angleterre de la Reine Victoria s’isole derrière les murs de son manoir, avec pour seule compagnie sa ménagerie d’animaux exotiques.
Mais quand la jeune Reine tombe gravement malade, Dr. Dolittle, d’abord réticent, se voit forcé de lever les voiles vers une île mythique dans une épique aventure à la recherche d’un remède à la maladie. Alors qu’il rencontre d’anciens rivaux et découvre d’étranges créatures, ce périple va l’amener à retrouver son brillant esprit et son courage.
						</p>

						<div class="border-bottom">
						</div>

						<div class="container text-center">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/AiT-u2djPgU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
					<!-- /.blog-post -->


				</div>
				<!-- /.blog-main -->

				<aside class="col-md-4 blog-sidebar">
					<div class="p-4 mb-3 bg-light rounded">
						<h4 class="font-italic text-center">Le saviez-vous ?</h4>
						<p class="mb-0">Tron : L'Héritage :  Les costumes du film, particulièrement efficaces, ont valu à Olivia Wilde (Quorra) d'être appréhendée par un agent de la sécurité. Ce dernier aurait demandé à l'actrice de prouver son identité le jour où elle est arrivée sur le plateau pour la première fois sans costume, après deux mois de tournage.</p>
					</em>

				</p>
			</div>


			<div class="p-4 mb-3 bg-light">
				<h4 class="font-italic text-center">Réseaux</h4>
				<ol class="list-unstyled text-center">
					<li>
						<a href="#">Twitter</a>
					</li>
					<li>
						<a href="#">Facebook</a>
					</li>
				</ol>
			</div>
		</aside>
	</html>
</div>
<!-- /.row --></main><br><div class="container border-bottom font-italic text-center">
<h4>Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4></div><!-- /.container --></body></html>{% endblock %}
