{% extends "base.html.twig" %}


{% block title %}Cinéma Universe : Drame

{% endblock %}
{% block body %}
	<html lang="fr">

		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
			<title>Comédie</title>

			<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

		</head>

		<body>


			<main
				role="main">

				<!-- Main jumbotron for a primary marketing message or call to action -->
				<div class="jumbotron">
					<div class="container text-center">
						<h3 class="display-3">Le drame</h3>
						<p>C’est un genre très répandu qui se veut sérieux, réaliste, dans lequel des personnages sont confrontés à de graves problèmes et/ou vivent des conflits passionnels.</p>

					</div>
				</div>
			</main>
			<div class="container">
				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-primary">Film américain</strong>
								<h3 class="mb-0">La liste de  Schindler</h3>
								<p class="card-text mb-auto">Tout les oppose et il était peu probable qu'ils se rencontrent un jour, et pourtant. Philippe, un riche aristocrate devenu tétraplégique après un accident de parapente va engager Driss, un jeune homme d'origine sénégalaise tout droit sorti de prison, comme auxiliaire de vie à domicile. Pourquoi lui ? Tout simplement parce qu'il ne regarde pas Philippe avec le même regard de pitié que les autres candidats.</p>

							</div>
							<div class="col-auto d-none d-lg-block">
								<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
									<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-success">Film français</strong>
								<h3 class="mb-0">Intouchables</h3>
								<p class="mb-auto">Quelques décennies d'histoire américaine, des années 1940 à la fin du XXème siècle, à travers le regard et l'étrange odyssée d'un homme simple et pur, Forrest Gump.</p>

							</div>
							<div class="col-auto d-none d-lg-block">
								<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
									<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>


			<main role="main" class="container">
				<div class="row">
					<div class="col-md-8 blog-main bg-light">
						<h3 class="pb-4 mb-4 font-italic border-bottom text-center">
							Exemple de film
						</h3>

						<div class="blog-post">
							<h2 class="blog-post-title">De rouille et d'os</h2>
							<p class="blog-post-meta">
								<strong>Genre</strong>
								: Drame</p>
							<p class="blog-post-meta">
								<strong>Réalisateur</strong>
								: 	Jacques Audiard</p>
							<p class="blog-post-meta">
								<strong>Distribution</strong>
								: Marion Cotillard, Matthias Schoenaerts</p>
							<p class="blog-post-meta">
								<strong>Année de sortie</strong>
								: 2012</p>
							<p class="blog-post-meta">
								<strong>Synopsis</strong>
								: Un soir, en boîte de nuit, Stéphanie, dresseuse d'orques au Marineland d'Antibes, croise le chemin d'Ali, videur et ex-boxeur dans des combats douteux. Lorsque la jeune femme perd ses jambes à la suite d'un accident, elle rappelle Ali qui va l'aider à se reconstruire.
							</p>

							<div class="container text-center">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/xWbeNcscfsI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<!-- /.blog-post -->


					</div>
					<!-- /.blog-main -->

					<aside class="col-md-4 blog-sidebar">
						<div class="p-4 mb-3 bg-light rounded">
							<h4 class="font-italic text-center">Le saviez-vous ?</h4>
							<p class="mb-0">Frankenweenie,Lorsque Persephone touche l'une des deux vis ayant servi à ranimer Sparkey, celle-ci reçoit une décharge électrique et deux grosses mèches blanches apparaissent sur sa tête. C'est une référence directe au film "La Fiancée de Frankenstein" dans lequel "La Fiancée" en question possède la même caractéristique.</p>
						</em>.

					</p>
				</div>


				<div class="p-4 mb-3 bg- rounded">
					<h4 class="font-italic text-center">Réseaux</h4>
					<ol class="list-unstyled text-center">
						<li>
							<a href="#">Twitter</a>
						</li>
						<li>
							<a href="#">Facebook</a>
						</li>
					</ol>
				</div>
			</aside>
	
</div>
<!-- /.row --></main>

<br>
<div class="container border-bottom font-italic text-center">
<h4>
Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4>
</div>

</body></html>{% endblock %}
