{% extends "base.html.twig" %}


{% block title %}Cinéma Universe : Fantasy

{% endblock %}

{% block body %}
    
    <html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
    <title>Fantasy</title>


    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

    
    
</head>
<body>
<main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container text-center">
                <h3 class="display-3">Fantasy</h3>
                <p>Le cinéma de fantasy est un genre cinématographique fondé sur l'imaginaire et le merveilleux de la culture anglo-saxonne, il est apparenté au cinéma onirique européen dont il partage quelque points en commun. Il est rattaché au cinéma fantastique.</p>
                
            </div>
        </div>
        </main>
    <div class="container">
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Film américain</strong>
          <h3 class="mb-0">Alice au pays des merveilles</h3>
          <p class="card-text mb-auto">Désormais âgée de 19 ans, Alice retourne dans le monde fantastique qu'elle avait découvert lorsqu'elle était enfant. Retrouvant ses amis le Lapin Blanc, Bonnet Blanc et Blanc Bonnet, le Loir, la Chenille, le Chat du Cheshire et, bien entendu, le Chapelier Fou, elle embarque dans une aventure extraordinaire pour mettre fin au règne de terreur de la Reine Rouge.</p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Film américain</strong>
          <h3 class="mb-0">Maléfique</h3>
          <p class="mb-auto">Poussée par la vengeance et une volonté farouche de protéger les terres qu'elle préside, Maléfique place cruellement une malédiction irrévocable sur la Princesse Aurore, l'enfant du roi Stéphane et de la reine Oriane. À l'aube de ses 16 ans, elle se piquera à un fuseau d'un rouet et sera endormie pour toujours. Seul un baiser d'un amour sincère la délivrera.</p>
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
  </div>
</div>
    

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main bg-light">
      <h3 class="pb-4 mb-4 font-italic border-bottom text-center">
        Exemple de film
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">En avant</h2>
        <p class="blog-post-meta"><strong>Genre</strong> : 	Animation, Fantasy</p>
        <p class="blog-post-meta"><strong>Réalisateur</strong> : Dan Scanlon</p>
        <p class="blog-post-meta"><strong>Distribution</strong> : Tom Holland, Chris Pratt, Julia Louis-Dreyfus, Octavia Spencer</p>
        <p class="blog-post-meta"><strong>Année de sortie</strong> : 2020</p>
        <p class="blog-post-meta"><strong>Synopsis</strong> : Dans la banlieue d'un univers imaginaire, deux frères elfes se lancent dans une quête extraordinaire pour découvrir s'il reste encore un peu de magie dans le monde.</p>

        <div class="container text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XRF6uuubGcI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div><!-- /.blog-post -->



      

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic text-center">Le saviez-vous ?</h4>
        <p class="mb-0">Abraham Lincoln : Chasseur de vampires,  Benjamin Walker a dû se prêter à un exercice très particulier avant d'obtenir le rôle d'Abraham Lincoln. La production du film lui a en effet demandé de prononcer le célèbre discours que Lincoln a donné sur le champ de bataille de Gettysburg en 1863.</em>.

</p>
      </div>

      

      
       <div class="p-4 mb-3 bg- rounded">
        <h4 class="font-italic text-center">Réseaux</h4>
        <ol class="list-unstyled text-center">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>

  </div><!-- /.row -->

</main><!-- /.container -->
  <br><div class="container border-bottom font-italic text-center">
<h4>Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4></div

</body>
</html>
{% endblock %}
