{% extends "base.html.twig" %}
{% block title %}Cinéma Universe : Fantastique
	{% endblock %}

{% block body %}

<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
			<title>Fantastique</title>

			<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

		</head>
		<body>


			<main
				role="main">

				<!-- Main jumbotron for a primary marketing message or call to action -->
				<div class="jumbotron">
					<div class="container text-center">
						<h3 class="display-3">Fantastique</h3>
						<p>Le cinéma fantastique est un genre cinématographique regroupant des films faisant appel au surnaturel, à l'horreur, à l'insolite ou aux monstres. L'intrigue se fonde sur des éléments irrationnels, ou irréalistes.</p>

					</div>
				</div>
			</main>
			<div class="container">
				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-primary">Film français</strong>
								<h3 class="mb-0">La Belle et la Bête</h3>
								<p class="card-text mb-auto">Fille cadette d'un riche marchand, Belle, une jeune fille harcelée par ses soeurs, demande à son père de lui rapporter une rose. Sur le chemin du retour, celui-ci s'égare dans la forêt. Le lendemain matin, il cueille une fleur, ce qui provoque la colère de la Bête, monstre à corps d'homme et tête de lion qui vit reclus dans son château. En compensation de la fleur cueillie, la Bête réclame le sacrifice du marchand ou de l'une de ses filles.</p>

							</div>
							<div class="col-auto d-none d-lg-block">
								<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
									<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-success">Film américain</strong>
								<h3 class="mb-0">Les Animaux fantastiques : Les Crimes de Grindelwald</h3>
								<p class="mb-auto">Dans le but de contrecarrer les plans de Grindelwald, qui cherche à rassembler les sorciers de sang-pur afin de régner sur tous les êtres non-magiques, Albus Dumbledore demande de l'aide à son ancien élève, Norbert Dragonneau. Il accepte, ignorant tout des dangers qui l'attendent. Face à ses épreuves, l'amour et la loyauté seront mis à l'épreuve, au sein même des familles et amis, dans un monde où les sorciers sont de plus en plus divisés.</p>

							</div>
							<div class="col-auto d-none d-lg-block">
								<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
									<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>


			<main role="main" class="container">
				<div class="row">
					<div class="col-md-8 blog-main bg-light">
						<h3 class="pb-4 mb-4 font-italic border-bottom text-center">
							Exemple de film
						</h3>

						<div class="blog-post">
							<h2 class="blog-post-title">Casse-Noisette et les Quatre Royaumes</h2>
							<p class="blog-post-meta">
								<strong>Genre</strong>
								: 	Fantastique</p>
							<p class="blog-post-meta">
								<strong>Réalisateur</strong>
								: 	Lasse Hallström, Joe Johnston</p>
							<p class="blog-post-meta">
								<strong>Distribution</strong>
								: Mackenzie Foy, Jayden Fowora-Knight, Keira Knightley, Helen Mirren, Morgan Freeman</p>
							<p class="blog-post-meta">
								<strong>Année de sortie</strong>
								: 2018</p>
							<p class="blog-post-meta">
								<strong>Synopsis</strong>
								: Tout ce que souhaite Clara, c'est une clé. Une clé unique en son genre, celle qui ouvrira la boîte contenant l'inestimable cadeau que sa mère lui a laissé avant de mourir. À la fête de fin d'année organisée par son parrain, Drosselmeyer, Clara découvre un fil d'or qui la conduit jusqu'à cette précieuse clé, mais celle-ci disparaît aussitôt dans un monde étrange et mystérieux.
							</p>

							<div class="container text-center">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/CT4eCDZgkOw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<!-- /.blog-post -->


					</div>
					<!-- /.blog-main -->

					<aside class="col-md-4 blog-sidebar">
						<div class="p-4 mb-3 bg-light rounded">
							<h4 class="font-italic text-center">Le saviez-vous ?</h4>
							<p class="mb-0">Shutter Island,  Le personnage joué par Leonardo DiCaprio a un pansement sur la tête tout au long de son "enquête" et ne le retire qu'une fois la vérité dévoilée. Le pansement symbolise la blessure du personnage et le fait qu'il ne l'ait plus à la fin symbolise la guérison.
								<br><br>"Shutter Island" a été tourné dans un hôpital psychiatrique désaffecté du Massachusetts.
							</p>
						</em>.

					</p>
				</div>


				
       <div class="p-4 mb-3 bg- rounded">
        <h4 class="font-italic text-center">Réseaux</h4>
        <ol class="list-unstyled text-center">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>
   
</div>
</main>

<br><div class="container border-bottom font-italic text-center">
<h4>Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4></div>
</body>
</html>

{% endblock %}  

	