{% extends "base.html.twig" %}


    {% block title %}Cinéma Universe : Historique

{% endblock %}
{% block body %}
    <html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Historique</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

    
</head>
<body>
  

<main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container text-center">
                <h3 class="display-3">Film historique</h3>
                <p>Un film historique est un genre cinématographique qui est fondé sur le principe de la fiction historique et qui met en scène des évènements historiques. Il comprend de multiples sous-genres (le péplum, le western, le film de cape et d'épée, etc.).</p>
                
            </div>
        </div>
        </main>
    <div class="container">
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Film français</strong>
          <h3 class="mb-0">La folies des grandeurs</h3>
          <p class="card-text mb-auto">Don Salluste profite de ses fonctions de ministre des Finances du roi d'Espagne pour raqueter le peuple. Mais la Reine qui le déteste réussit à le chasser de la cour. Ivre de vengeance, il décide de la compromettre. Son neveu Don César ayant refusé de se mêler du complot,c'est finalement le valet de Don Salluste, Blaze, transi d'amour pour la souveraine, qui tiendra le rôle du Prince charmant. Malheureusement à force de quiproquos, il ne parvient qu'à s'attirer les faveurs de la peu avenante Dona Juana.</p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Film américain</strong>
          <h3 class="mb-0">Guerre et Paix</h3>
          <p class="mb-auto">En 1805, à Moscou, les fêtes et les bals se succèdent, bien que la guerre contre Napoléon soit inévitable et imminente. La jeune comtesse Natacha Rostov, une adolescente romanesque, pleine de vie et de charme, grandit au sein d'une famille tendrement unie. Le jeune Pierre Bezoukhov fréquente la maison du comte et de la comtesse Rostov, et a su gagner l'amitié de Natacha. Au cours d'une de ses visites, il assiste au départ pour l'armée du fils de la famille, Nicolas.</p>
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
  </div>
</div>
    

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main bg-light">
      <h3 class="pb-4 mb-4 font-italic border-bottom text-center">
        Exemple de film
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Argo</h2>
        <p class="blog-post-meta"><strong>Genre</strong> : Drame, Historique, Thriller</p>
        <p class="blog-post-meta"><strong>Réalisateur</strong> : Ben Affleck</p>
        <p class="blog-post-meta"><strong>Distribution</strong> : Ben Affleck, Bryan Cranston, John Goodman</p>
        <p class="blog-post-meta"><strong>Année de sortie</strong> : 2012</p>
        <p class="blog-post-meta"><strong>Synopsis</strong> : Le 4 novembre 1979, au summum de la révolution iranienne, des militants envahissent l’ambassade américaine de Téhéran, et prennent 52 Américains en otage. Mais au milieu du chaos, 6 Américains réussissent à s’échapper et à se réfugier au domicile de l’ambassadeur canadien.</p>

        <div class="container text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AX2iBdjjScA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div><!-- /.blog-post -->



      

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic text-center">Le saviez-vous ?</h4>
        <p class="mb-0">Blanche-Neige et le Chasseur (2012), Jugeant que le faux sang qui se répandait sur la neige, lors de la scène où la mère de Blanche-Neige se pique à une épine, n'était pas assez réaliste à son goût, le réalisateur Rupert Sanders proposa aux techniciens de le remplacer par son propre sang!</em>.

</p>
      </div>

     
       <div class="p-4 mb-3 bg- rounded">
        <h4 class="font-italic text-center">Réseaux</h4>
        <ol class="list-unstyled text-center">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>

  </div>

</main>

<br><div class="container border-bottom font-italic text-center">
<h4>Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4></div>

</body>
</html>
{% endblock %}
