{% extends "base.html.twig" %}


{% block title %}Cinéma Universe : Opera

{% endblock %}
{% block body %}
    
    <html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Comédie</title>

  
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

    
</head>
<body>
  
<main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container text-center">
                <h3 class="display-3">Opéra</h3>
                <p>Toute pièce de théâtre au xvii ème siècle Genre littéraire, théâtral, cinématographique, etc., dont le propos est d'amuser. <br> Manifestation hypocrite de sentiments qu'on n'éprouve pas réellement ; feinte, dissimulation : Tout cela c'est de la comédie.</p>
                
            </div>
        </div>
        </main>
    <div class="container">
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Opéra français</strong>
          <h3 class="mb-0">Callas Forever</h3>
          <p class="card-text mb-auto">La diva Maria Callas a la voix brisée. Un producteur lui propose d'être la vedette d'un film où elle incarne Carmen avec une voix doublée par ses enregistrements d'autrefois. Au commencement elle réfuse de cette idée, puis accepte mais enfin démande détruire le film.</p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Opéra américain</strong>
          <h3 class="mb-0">Porgy and Bess</h3>
          <p class="mb-auto"> C'est un film musical américain réalisé par Otto Preminger, sorti en 1959.    
Le film est une adaptation de l'opéra du même nom de George Gershwin, DuBose Heyward, et Ira Gershwin, créé en 1935. Cet opéra était lui-même tiré du roman Porgy écrit par DuBose Heyward, publié en 1925.<br> Un soir d'été, les habitants de Catfish Row dansent. Clara chante Summertime, une berceuse, pour son enfant. Porgy (il ne peut pas marcher, donc il arrive avec des béquilles) vient et demande si Bess est arrivée. Les autres le soupçonnent d'être amoureux d'elle. Bess arrive alors avec Crown, un homme violent, qui tue Robbinson, un des hommes qui jouaient avec lui aux dés comme il est en train de perdre. Bess cherche un refuge chez Porgy, après que Crown s'est enfui.</p>
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
  </div>
</div>
    

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main bg-light">
      <h3 class="pb-4 mb-4 font-italic border-bottom text-center">
        Exemple de film
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">La Bohème</h2>
        <p class="blog-post-meta"><strong>Genre</strong> : Luigi Comencini</p>
        <p class="blog-post-meta"><strong>Réalisateur</strong> : Luigi Comencini</p>
        <p class="blog-post-meta"><strong>Distribution</strong> : Barbara Hendricks, José Carreras</p>
        <p class="blog-post-meta"><strong>Année de sortie</strong> : 1988</p>
        <p class="blog-post-meta"><strong>Synopsis</strong> : La Bohème est un film franco-italo-britannique réalisé par Luigi Comencini, sorti en 1988. C'est l'adaptation de l'opéra La Bohème de Giacomo Puccini, lui-même adapté d'un roman d'Henri Murger. </p>

        <div class="container text-center">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/iIWiCkzN1Co" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div><!-- /.blog-post -->



      

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic text-center">Le saviez-vous ?</h4>
        <p class="mb-0">Zodiac (2007), Le réalisateur (David Fincher) a été, enfant, marqué par cette affaire. Habitant la région, il utilisait le bus scolaires, surveillés par la police, qu'un suspect se revendiquant comme étant le tueur du Zodiaque avait menacé de faire sauter. Sa voisine était une des policières enquêtant sur l'affaire et il avait pique-niqué en famille au Lac Berryessa, juste après qu'un des meurtres du Zodiac y fut commis.</em>.

</p>
      </div>

      

      
       <div class="p-4 mb-3 bg- rounded">
        <h4 class="font-italic text-center">Réseaux</h4>
        <ol class="list-unstyled text-center">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>

  </div><!-- /.row -->

</main><!-- /.container -->

<br><div class="container border-bottom font-italic text-center">
<h4>Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4></div






        </body>
        </html>

 
{% endblock %}
