{% extends "base.html.twig" %}
{% block title %}Cinéma Universe : Thriller

{% endblock %}
{% block body %}

	
    <html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">

    <title>Thriller</title>
    
    
</head>

<main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container text-center">
                <h3 class="display-3">Thriller</h3>
                <p>Le thriller est un genre artistique utilisant le suspense ou la tension narrative pour provoquer chez le lecteur ou le spectateur une excitation ou une appréhension et le tenir en haleine jusqu'au dénouement de l'intrigue.</p>
                
            </div>
        </div>
        </main>
    <div class="container">
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Film français</strong>
          <h3 class="mb-0">Fleuve noir</h3>
          <p class="card-text mb-auto">Au sein de la famille Arnault, Dany, le fils aîné, disparaît. François Visconti, commandant de police usé par son métier, est mis sur l'affaire. L'homme part à la recherche de l'adolescent alors qu'il rechigne à s'occuper de son propre fils, Denis, seize ans, qui semble mêlé à un trafic de drogue. Yan Bellaile, professeur particulier de Dany, apprend la disparition de son ancien élève et propose ses services au commandant. Il s'intéresse de très près à l'enquête. De trop près peut-être.</p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Film américain</strong>
          <h3 class="mb-0">Get Out</h3>
          <p class="mb-auto">Maintenant que Chris et sa copine Rose vont rencontrer leurs parents respectifs, elle l'invite dans la résidence secondaire de sa famille pour un week-end. D'abord Chris comprend que le comportement un peu étrange de la famille de Rose est lié au fait qu'il est noir et qu'elle est blanche. Cependant, il découvre que la vérité est bien plus dérangeante.</p>
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
  </div>
</div>
    

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main bg-light">
      <h3 class="pb-4 mb-4 font-italic border-bottom text-center">
        Exemple de film
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Capitaine Phillips</h2>
        <p class="blog-post-meta"><strong>Genre</strong> : Hostoire inspirée de faits réel, Thriller</p>
        <p class="blog-post-meta"><strong>Réalisateur</strong> : Paul Greengrass</p>
        <p class="blog-post-meta"><strong>Distribution</strong> : Tom Hanks, Barkhad Abdi, Max Martini, David Warshofsky, Corey Johnson, Catherine Keener</p>
        <p class="blog-post-meta"><strong>Année de sortie</strong> : 2013</p>
        <p class="blog-post-meta"><strong>Synopsis</strong> : Capitaine Phillips retrace l'histoire vraie de la prise d'otages du navire de marine marchande américain Maersk Alabama, menée en 2009 par des pirates somaliens. La relation qui s'instaure entre le capitaine Richard Phillips, commandant du bateau, et Muse, le chef des pirates somaliens, qui le prend en otage, est au coeur du récit. Les deux hommes sont inévitablement amenés à s'affronter lorsque Muse et son équipe s'attaquent au navire désarmé de Phillips.</p>

        <div class="container text-center">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/zxkWySF6RFw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div><!-- /.blog-post -->



      

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic text-center">Le saviez-vous ?</h4>
        <p class="mb-0">Batman Begins, Batman Begins compte parmi les films de super-héros ayant utilisé le
moins d'effets numériques.</p>

</p>
      </div>

      

       <div class="p-4 mb-3 bg- rounded">
        <h4 class="font-italic text-center">Réseaux</h4>
        <ol class="list-unstyled text-center">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>

  </div><!-- /.row -->

</main><!-- /.container -->
<br><div class="container border-bottom font-italic text-center">
<h4>Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4></div>






        </body>
        </html>

 
{% endblock %}
