{% extends "base.html.twig" %}
{% block title %}Cinéma Universe : Western{% endblock %}
{% block body %}

    
    <html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
    <title>Comédie</title>

   
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

    
    
</head>
<body>
  

<main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container text-center">
                <h3 class="display-3">Western</h3>
                <p>Le western est un genre cinématographique dont l'action se déroule généralement en Amérique du Nord, plus spécialement aux États-Unis, lors de la conquête de l'Ouest dans les dernières décennies du XIXᵉ siècle.</p>
                
            </div>
        </div>
        </main>
    <div class="container">
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Film français</strong>
          <h3 class="mb-0">Mon nom est Personne </h3>
          <p class="card-text mb-auto">Personne, un jeune aventurier, veut convaincre un tireur renommé d'accomplir une dernière action d'éclat : combattre la Horde sauvage et ainsi rentrer dans l'Histoire.</p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Film américain</strong>
          <h3 class="mb-0">Il était une fois dans l'Ouest</h3>
          <p class="mb-auto">Alors qu'il prépare une fête pour sa femme, Bet McBain est tué avec ses trois enfants. Jill McBain hérite alors les terres de son mari, terres que convoite Morton, le commanditaire du crime (celles-ci ont de la valeur maintenant que le chemin de fer doit y passer). Les soupçons se portent sur un aventurier, Cheyenne.</p>
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
        </div>
      </div>
    </div>
  </div>
</div>
    

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom text-center">
        Exemple de film
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Il était une fois dans l'Ouest</h2>
        <p class="blog-post-meta"><strong>Genre</strong> : Western spaghetti</p>
        <p class="blog-post-meta"><strong>Réalisateur</strong> :  Sergio Leone</p>
        <p class="blog-post-meta"><strong>Distribution</strong> : 	Sergio Leone, Sergio Donati, Dario Argento</p>
        <p class="blog-post-meta"><strong>Année de sortie</strong> : 1969</p>
        <p class="blog-post-meta"><strong>Synopsis</strong> : Alors qu'il prépare une fête pour sa femme, Bet McBain est tué avec ses trois enfants. Jill McBain hérite alors les terres de son mari, terres que convoite Morton, le commanditaire du crime (celles-ci ont de la valeur maintenant que le chemin de fer doit y passer). Les soupçons se portent sur un aventurier, Cheyenne.</p>

        <div class="container text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-nF_TNklTGI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div><!-- /.blog-post -->



      

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic text-center">Le saviez-vous ?</h4>
        <p class="mb-0">Tous les comédiens de Western sont des non-professionnels, comme le confie la cinéaste Valeska Grisebach. <br> <br>
        "Aucun n'est professionnel. Ils ont tous un métier ! J'ai rencontré Meinhard Neumann, l'acteur principal, sur un marché de chevaux à Brandebourg. J'ai immédiatement su que je voudrais faire un film avec lui. J'ai ressenti le même genre d'affinités immédiates avec les autres acteurs. Tous se sont rencontrés régulièrement par la suite pour apprendre à se connaître. C'est de cette manière que avons su si nous pouvions faire un film ensemble, et surtout comment. Le processus du casting et des auditions a été long."

</p>
      </div>

      

      
       <div class="p-4 mb-3 bg- rounded">
        <h4 class="font-italic text-center">Réseaux</h4>
        <ol class="list-unstyled text-center">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>

  </div>

</main>
<br><div class="container border-bottom font-italic text-center">
<h4>Hey dit moi ce que tu penses, lache un article ou un commentaires pour donner ton avis sur ce domaine dans le cinéma !</h4></div>
</body>
</html>
{% endblock %}
